:root {
    --yellow-color: #fff904;
    --primary-color: #edf2fc;
    --secondary-color: #14141B;
    
}
body{
    background-color: #14141B;
}
.nav-item img {
    width: 40px;
}
#icon {
    width: 30px;
    cursor: pointer;
    margin: 11px;
}
.dropdown-menu {
    background-color: #1E1E27;
}
.dropdown-menu li a:hover{
    background-color: #4B5563;
}
.item img{
    border-radius: 50px;
}
.header .head {
    color: var(--yellow-color);
    font-size: 40px;
}
.cards .row img{
    border-radius: 25px;

}
.accordion {
    padding-left: 100px;
    padding-bottom: 20px;
    
}
@media (max-width: 768px) {
    .accordion {
        padding-left: 20px;
    }
}
.accordion .accordion-item {
    background-color: #1e1e27;
    color:white;
    border-radius: 30px;
    padding: 20px;

}
.accordion-header .accordion-button{
    background-color: #1e1e27;
    color: white;
    border-radius: 30px;
    height: 15px;
    
}
.accordion-header .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
footer{
    background-color: #1e1e27;
}
.links ul img{
    width: 50px;
    padding: 10px;
}
.payments ul img{
    width: 100px;
    padding: 10px;
}
.modal-content {
    background-color: var(--secondary-color);
    border-radius: 30px;

}
.modal-header {
    border-bottom: none;
}
.modal-header .close {
    font-size: 20px;
    background-color: var(--secondary-color);
    color: white;
    border: none ;
}
.modal-body {
    padding: 3rem;
}
.modal-body button {
    width: 190px;
    height: 100px;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}
.modal-body button svg {
    font-size: 30px;
}